[🔙 Home](../home.md)

# Test Reports
## Test Reports - Purpose
* Summarise & communicate test information during & after testing:
  * Test Progress Report (during a test activity)
  * Test Completion Report (end of a test activity)
* Are about helping project stakeholders understand the progress & results of a test period
* Can help in supporting conclusions, recommendations & decisions

## Test Progress Reports
* Issued to stakeholders regularly during test monitoring & control
* Often reported frequent & informal in the team
* Support the ongoing control of the testing
* Summarises information on the testing performed in a specific reporting period
* Should provide enough information so that informed decisions can be made if needed due to deviation from the plan or changed circumstances:
  * Modifications to the test schedule
  * Modifications to the resources
  * Modifications to the test plan

### Test Progress Reports – Typical Contents
* Test period
* Test progress (ahead or behind schedule, deviations, etc)
* Impediments for testing & workarounds
* Test metrics
* New & changed risks within the testing period
* Testing planned for the next period

### Test Progress Report – ISO/IEC/IEEE 29119 Standard
* Reporting period
* Progress against the test plan
* Factors blocking progress
* Test Measures
* New & changed risks
* Planned testing

## Test Completion Reports
* Prepared & issued to stakeholders during test completion:
  * When reaching exit criteria are met (hopefully) or at completion of:
  * A project
  * A test level
  * A test type
* Provides a summary of the performed testing based on the latest test progress report & other information
* Often reported only once & more formal than test progress reports using a set template
* Contents will vary greatly per:
  * Context of the project
  * Organisational requirements
  * Software development lifecycle
  * Audience

### Test Completion Reports – Typical Contents
* Summary of testing performed
* Testing & product quality evaluation based on the original plan (test objectives & exit criteria)
* Deviations from the test plan (differences from the planned schedule, duration, effort)
* Factors that have blocked or are blocking progress & their workarounds
* Test Metrics based on the test progress reports
* Unmitigated risks, defects not fixed
* Lessons learned that are relevant to testing

### Test Completion Report – ISO/IEC/IEEE 29119 Standard
* Scope
* Testing performed
* Deviations from planned testing
* Test completion evaluation
* Factors that blocked progress
* Test measures
* Residual risks
* Test deliverables
* Reusable test assets
* Lessons learned

## Test Reports - Audience
* Audience greatly influences:
  * Content in the reports
  * The degree of formality
  * The frequency of reporting